<li id="<%= dom_id(task, :item) %>" class="todo-item new-task <%= task.post_it_color %> <%= task.completed? ? 'is-completed' : '' %>" data-controller="delete-task new-task" data-task-id="<%= task.id %>">
    <%= render 'tasks/task_content', task: task %>
</li>
